@import "tailwindcss";

 @Layer components {
.button-primary{@apply bg-red-500 text-white p-4 px-8 font-bold text-2xl rounded-2xl }
.button-secondary{@apply bg-red-500 text-white p-4 font-bold text-2xl rounded-2xl }
.button-tertiary{@apply bg-gray-800 text-white p-4 font-bold text-2xl rounded-2xl }
}